

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><strong>My-Application</strong></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" style="background-color: rgb(232, 254, 199);">

        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/add-user">Add user</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/list-users">List users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/search-user">Search user</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/add-post">Add post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/list-posts">List posts</a>
        </li>

        <li class="text-align:right">
          <a class="nav-link" style="background-color: rgb(198,197,136); color:green">You are connected from <strong style="color: crimson">{{seconde}}</strong> seconds</a>
        </li>
      </ul>
    </div>

  </nav>
  